DISCORD_TOKEN="COPY THE TOKEN FROM THE DEVELOPER PORTAL AND PASTE IT HERE" #!!NEVER SHARE YOUR TOKEN!!
MONGODB_URI="mongodb+srv://user:pswrd@ex.a123.mongodb.net/?retryWrites=true&w=majority" #!!MAKE SURE TO REMOVE THE < > AROUND YOUR PASSWORD!!